$TTL 86400
@   IN  SOA     dns.lmw.local. hostmaster.lmw.local. (
        2024100701 ; Serial
        3600       ; Refresh
        1800       ; Retry
        1209600    ; Expire
        86400      ; Minimum TTL
)
@       IN      NS      dns.lmw.local.

1       IN      PTR     gateway.lmw.local.
2       IN      PTR     dhcp.lmw.local.
3       IN      PTR     lmw.local.